doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/signup.css")
        style @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&family=Sarabun:wght@700&family=Sassy+Frass&display=swap');

        title Document
    body    
        div.container
            .nav-bar
            div.icon 
                img(src="/images/icon.svg", alt="")
                p Summer Clam
           
            div.hero-text-box
                h1.hero-text Experts 
                h3.hero-text2 Tenis Coaching
            
            img.hero-img(src="/images/hero4.jpg", alt="backgroundImage")
            button.submit(onclick="googleSignUP()") sign up

        .content_container 
            .content
                .img-content
                    img.person(src="/images/1.jpg", alt="img1") 
                .contentText
                    p Lorem, ipsum Qui, temporibus laboriosam!,wertetr,ertertertreter,hnvii

            .content
                .img-content
                    img.person(src="/images/2.jpg", alt="img1") 
                .contentText
                    p Lorem, ipsum Qui, temporibus laboriosam!,wertetr,ertertertreter,hnvii
        
    script(src="/javascripts/authScript.js" type="module")

        

